In [1]:
# ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sorting the list ages
ages.sort()

# Find min and max age
min_age = min(ages)
max_age = max(ages)

# Add min and max age again to the list
ages.extend([min_age, max_age])

# Find median age
n = len(ages)
median_age = (ages[n // 2] + ages[(n - 1) // 2]) / 2

# Find average age
average_age = sum(ages) / len(ages)

# Find range of ages
age_range = max_age - min_age

print("Min Age:", min_age)
print("Max Age:", max_age)
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Age Range:", age_range)

Min Age: 19
Max Age: 26
Median Age: 24.0
Average Age: 22.75
Age Range: 7

In [3]:
# Create an empty dictionary for a dog
dog = {}

# Add name, color, breed, legs, and age to the dog dictionary
dog['name'] = 'Jimmy'
dog['color'] = 'Brown'
dog['breed'] = 'Bulldog'
dog['legs'] = 4
dog['age'] = 3

# Create a student dictionary
student = {}

# Add first_name, last_name, gender, age, marital status, skills, country, city, and address to the student dictionary
student['first_name'] = 'Yasmine'
student['last_name'] = 'Shaik'
student['gender'] = 'Female'
student['age'] = 25
student['marital_status'] = 'Single'
student['skills'] = ['Python', 'Data Analysis' , 'java script' , 'AWS', 'MongoDB']
student['country'] = 'India'
student['city'] = 'Telangana'
student['address'] = '123 Prashanth nagar'

# Get the length of the student dictionary
student_dict_length = 0
for key in student:
    student_dict_length += 1

# Get the value of skills and check the data type
skills_value = student['skills']
skills_data_type = type(skills_value)

# Modify the skills values by adding one or two skills
skills_value.append('Machine Learning')
skills_value.append('Communication')

# Get the dictionary keys as a list
student_keys = []
for key in student:
    student_keys.append(key)

# Get the dictionary values as a list
student_values = []
for value in student.values():
    student_values.append(value)

# Printing the results
print("Dog Dictionary:", dog)
print("Student Dictionary:", student)
print("Length of Student Dictionary:", student_dict_length)
print("Data Type of Skills:", skills_data_type)
print("Modified Skills:", skills_value)
print("Keys of Student Dictionary:", student_keys)
print("Values of Student Dictionary:", student_values)

Dog Dictionary: {'name': 'Jimmy', 'color': 'Brown', 'breed': 'Bulldog', 'legs': 4, 'age': 3}
Student Dictionary: {'first_name': 'Yasmine', 'last_name': 'Shaik', 'gender': 'Female', 'age': 25, 'marital_status': 'Single', 'skills': ['Python', 'Data Analysis', 'java script', 'AWS', 'MongoDB', 'Machine Learning', 'Communication'], 'country': 'India', 'city': 'Telangana', 'address': '123 Prashanth nagar'}
Length of Student Dictionary: 9
Data Type of Skills: <class 'list'>
Modified Skills: ['Python', 'Data Analysis', 'java script', 'AWS', 'MongoDB', 'Machine Learning', 'Communication']
Keys of Student Dictionary: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Values of Student Dictionary: ['Yasmine', 'Shaik', 'Female', 25, 'Single', ['Python', 'Data Analysis', 'java script', 'AWS', 'MongoDB', 'Machine Learning', 'Communication'], 'India', 'Telangana', '123 Prashanth nagar']

In [8]:
# Create a tuple containing names of your sisters and your brothers
sisters = ('Farjana', 'Rizwana')
brothers = ('Irfan', 'Saleem')

# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print("siblings:" ,siblings)

# How many siblings do you have?
num_siblings = len(siblings)
print(f"Number of siblings: {num_siblings}")

# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
Father = 'Raheem'
Mother = 'Fathima'
family_members = siblings + (Father, Mother)
print(f"Family members: {family_members}")

siblings: ('Farjana', 'Rizwana', 'Irfan', 'Saleem')
Number of siblings: 4
Family members: ('Farjana', 'Rizwana', 'Irfan', 'Saleem', 'Raheem', 'Fathima')

In [13]:
# Given sets and list
It_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Find the length of the set it_companies
len_it_companies = len(It_companies)
print("Length of It_companies set:", len_it_companies)

# 2. Add 'Twitter' to it_companies
It_companies.add('Twitter')
print("Set after adding 'Twitter':", It_companies)

# 3. Insert multiple IT companies at once to the set it_companies
It_companies.update({'LinkedIn', 'Netflix'})
print("Set after adding multiple companies:", It_companies)

# 4. Remove one of the companies from the set it_companies
It_companies.remove('IBM')
print("Set after removing 'IBM':", It_companies)

# 5. Difference between remove and discard
# remove() will raise a KeyError if the element does not exist
# discard() will not raise any error if the element does not exist

# 6. Join A and B
joined_set = A.union(B)
print("Joined set A and B:", joined_set)

# 7. Find A intersection B
intersection_set = A.intersection(B)
print("Intersection of A and B:", intersection_set)

# 8. Is A subset of B
is_subset = A.issubset(B)
print("Is A a subset of B:", is_subset)

# 9. Are A and B disjoint sets
are_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", are_disjoint)

# 10. Join A with B and B with A (both operations are the same)
joined_AB = A | B
joined_BA = B | A
print("Join A with B:", joined_AB)
print("Join B with A:", joined_BA)

# 11. What is the symmetric difference between A and B
symmetric_difference = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference)

# 12. Delete the sets completely
del It_companies, A, B

# 13. Convert the ages to a set and compare the length of the list and the set
ages_set = set(age)
len_age_list = len(age)
len_age_set = len(ages_set)
print("Length of age list:", len_age_list)
print("Length of ages set:", len_age_set)

Length of It_companies set: 7
Set after adding 'Twitter': {'Google', 'IBM', 'Facebook', 'Apple', 'Twitter', 'Microsoft', 'Oracle', 'Amazon'}
Set after adding multiple companies: {'Google', 'Twitter', 'LinkedIn', 'IBM', 'Facebook', 'Apple', 'Microsoft', 'Oracle', 'Netflix', 'Amazon'}
Set after removing 'IBM': {'Google', 'Twitter', 'LinkedIn', 'Facebook', 'Apple', 'Microsoft', 'Oracle', 'Netflix', 'Amazon'}
Joined set A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A a subset of B: True
Are A and B disjoint sets: False
Join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of ages set: 5

In [14]:
# Given radius
radius = 30

# Approximate value of pi
pi = 3.14

# 1. Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
_area_of_circle_ = pi * radius ** 2
print("Area of the circle:", _area_of_circle_)

# 2. Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
_circum_of_circle_ = 2 * pi * radius
print("Circumference of the circle:", _circum_of_circle_)

# 3. Take radius as user input and calculate the area
user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = pi * user_radius ** 2
print("Area of the circle with user-provided radius:", user_area_of_circle)

Area of the circle: 2826.0
Circumference of the circle: 188.4
Enter the radius of the circle: 12
Area of the circle with user-provided radius: 452.16

In [15]:
# Given sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words
words = sentence.split()

# Convert the list of words to a set to get unique words
unique_words = set(words)

# Find the number of unique words
num_unique_words = len(unique_words)

print("Number of unique words:", num_unique_words)
print("Unique words:", unique_words)

Number of unique words: 10
Unique words: {'people', 'inspire', 'I', 'am', 'teacher', 'a', 'to', 'teach', 'and', 'love'}

In [16]:
# Using tab escape sequence to format the lines
line1 = "Name\tAge\tCountry\tCity"
line2 = "Asabeneh\t250\tFinland\tHelsinki"

# Printing the lines
print(line1)
print(line2)

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [17]:
# Given radius
radius = 10

# Calculate the area
area = 3.14 * radius ** 2

# Use string formatting to display the result
result = f"The area of a circle with radius {radius} is {area} meters square."

# Print the result
print(result)

The area of a circle with radius 10 is 314.0 meters square.

In [18]:
# Read the number of students (N) from the user
N = int(input("Enter the number of students: "))

# Initialize an empty list to store the weights in pounds
weights_lbs = []

# Read the weights of N students into the list
for i in range(N):
    weight_lbs = float(input(f"Enter the weight of student {i+1} in pounds: "))
    weights_lbs.append(weight_lbs)

# Convert the weights from pounds to kilograms and store them in a separate list
weights_kgs = []
for weight_lbs in weights_lbs:
    weight_kgs = weight_lbs * 0.453592  # 1 pound = 0.453592 kilograms
    weights_kgs.append(round(weight_kgs, 2))  # Round the result to two decimal places

# Print the list of weights in kilograms
print("Weights in kilograms:", weights_kgs)

Enter the number of students: 4
Enter the weight of student 1 in pounds: 150
Enter the weight of student 2 in pounds: 155
Enter the weight of student 3 in pounds: 145
Enter the weight of student 4 in pounds: 148
Weights in kilograms: [68.04, 70.31, 65.77, 67.13]